body{   
    background-color: gray;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0px;
}
nav{
    background-color: #575859;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}
nav a{
    text-align: center;
    padding: 12px 16px;
    display: block;
    float: left;
    color: #5e78eb;
}
nav > a:visited{
    color:#92a5f7;
} 

#main{
    margin-top: 42px;
    padding: 20px;
}

form > *{
    margin:3px;
}
textarea{
    width:75%;
    height:200px;
}